.section {
  padding: var(--espacio) 2rem;
  overflow: hidden;
}

.h2 {
  font-weight: var(--font-normal);
  text-align: center;
}

:global(.swiperGallery) {
  width: 30rem;
  height: 30rem;
  margin: 5rem auto 2rem;
}

:global(.swiperGallery .swiper-slide) {
  border-radius: 2rem;
}

:global(.swiperGallery .swiper-pagination-fraction) {
  color: var(--blanco);
}
