---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import { Hero } from "../components/Hero";
import About from "../components/About.astro";
import GridServices from "../components/Grid-services.astro";
import Zones from "../components/Zones.astro";
import Banner from "../components/Banner.astro";
import Counter from "../components/Counter.astro";
import Clients from "../components/Clients.astro";
import { Gallery } from "../components/Gallery";
import Partners from "../components/Partners.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import ContactButton from "../components/button/ContactButton.astro"
import TopHeader from "../components/TopHeader.astro";


const currentUrl = Astro.request.url.includes('fuera') ? 'fuera' : 'bogota'
const phone = currentUrl === 'bogota' ? '3142902212' : '3214561217'
---

<Layout title="Rappicerrajería - 24/7">
  <TopHeader zone='bogota' />
  <Header route="main" zone="bogota" phone={phone}/>
  <Hero client:load phone={phone} />
  <GridServices route="main" zone="bogota"/>
  <div class="container">
    <About />
    <Zones />
  </div>
  <Banner phone={phone}/>
  <Counter />
  <div class="container">
    <Clients route="main" />
    <Gallery client:load route="main" />
  </div>
  <Partners route="main"/>
  <Contact phone={phone} />
  <ContactButton zone="bogota" route="main"/>
  <Footer />
</Layout>

<style>
  @media (min-width: 768px) {
    .container {
      max-width: 120rem;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1.5fr 2fr;
      margin-bottom: var(--espacio);
      justify-content: space-between;
      align-items: center;
    }
  }
</style>
