<article>
  <h3>Nuestra Empresa</h3>
  <h2>Prestamos un servicio <span>Seguro, rápido y profesional</span></h2>
  <p>Somos una empresa con más de 10 años de experiencia prestando servicios de cerrajería en Bogotá y ciudades aledañas.

Contamos con técnicos especializados motorizados disponibles las 24 horas del día, capacitados para atenderte de manera oportuna y eficaz en el menor tiempo posible.
  </p>
</article>

<style>
  article {
    max-width: 120rem;
    padding: 0 2rem;
  }

  h3 {
    color: var(--negro);
    font-weight: var(--font-md);
    margin-top: 4rem;
  }

  h3::before {
    content: "";
    display: block;
    width: 6.5rem;
    height: 0.2rem;
    background-color: var(--naranja-claro);
    margin-bottom: 1rem;
  }

  h2 {
    font-weight: var(--font-normal);
    text-align: left!important;
  }

  span {
    font-weight: var(--font-md);
  }

  p {
    font-size: 1.6rem;
    line-height: 1.5;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

</style>
