---
export interface Props {
  placeholder: string;
  url: string;
}

const { placeholder, url } = Astro.props;
---

<a href={url} class="button">{placeholder}</a>

<style>
  a {
    background: var(--naranja-claro);
    color: var(--negro);
    width: 100%;
    z-index: 1!important;
    transition: all 0.5s ease;
  }

  a:hover {
    background: var(--morado-claro);
    color: var(--blanco);
  }

</style>
