<article>
  <h3>Ellos han confiado en nosotros</h3>
  <p>El trabajo fue perfecto, llegaron a tiempo y lo solucionaron muy rápido.</p>
  <b>Juan Días</b>
</article>

<style>
  article {
    max-width: 120rem;
    padding: 0 2rem;
  }

  h3 {
    color: var(--negro);
    font-weight: var(--font-md);
    margin-top: 4rem;
  }

  h3::before {
    content: "";
    display: block;
    width: 6.5rem;
    height: 0.2rem;
    background-color: var(--naranja-claro);
    margin-bottom: 1rem;
  }

  p {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: var(--font-sm);
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-bottom: 2rem;
  }

  b {
    font-size: 2rem;
    font-weight: var(--font-normal);
  }

</style>
