---
export interface Props {
  phone: string
}

import { IoCallOutline, IoMailOutline, IoLocationOutline } from 'react-icons/io5/index.js'

const { phone } = Astro.props;
---

<section>

  <div class="container">
    <div class="item">
       <IoCallOutline />
      <a href={`tel:57${phone}`}>{phone}</a>
      <h3>Contáctanos</h3>
    </div>

    <div class="item">
      <IoMailOutline />
      <a href="mailto:hola@rappicerrajeria.com">hola@rappicerrajeria.com</a>
      <h3>Escríbenos</h3>
    </div>

    <div class="item">
      <IoLocationOutline />
      <p>Bogotá, Colombia</p>
      <h3>Atención al cliente</h3>
    </div>
  </div>

</section>

<style>
  section {
    padding: var(--espacio) 2rem;
    background: var(--azul-oscuro);
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  a, p {
    font-size: 2.4rem;
    font-weight: var(--font-sm);
    line-height: 0;
    margin: 0;
    color: var(--blanco);
  }

  :global(.item svg) {
    font-size: 4rem;
    color: var(--naranja-claro);
  }
  
  h3 {
    margin: 0;
    font-weight: var(--font-normal);
    font-size: 1.6rem;
        color: var(--blanco);
  }

    @media (min-width: 768px) {
    .container {
      max-width: 120rem;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
    }
  }

</style>
