<footer>
  <p>© {new Date().getFullYear()} Rappicerrajería 7/24. All Rights Reserved. Powerd By <a href="https://www.vehement.co" target="_blank">Vehement</a></p>
</footer>

<style>
  footer {
    background: var(--morado-oscuro);
    width: 100%;
    padding: 0 2rem;
  }

  p {
    margin: 0;
    padding: var(--espacio) 0;
    color: var(--font-off);
    text-align: center;
  }

  a {
    color: var(--blanco);
    text-decoration: none;
    transition: color .3s ease;
  }

  a:hover {
    color: var(--amarillo);
  }

</style>
