<!-- Primary Meta Tags -->
<title>Rappicerrajería - Trabajamos 24/7</title>
<meta name="title" content="Rappicerrajería - Trabajamos 24/7">
<meta name="description" content=" Contamos con técnicos especializados motorizados disponibles las 24 horas del día, capacitados para atenderte de manera oportuna y eficaz en el menor tiempo posible.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://rappicerrajeria.com">
<meta property="og:title" content="Rappicerrajería - Trabajamos 24/7">
<meta property="og:description" content=" Contamos con técnicos especializados motorizados disponibles las 24 horas del día, capacitados para atenderte de manera oportuna y eficaz en el menor tiempo posible.">
<meta property="og:image" content="metatags.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://rappicerrajeria.com">
<meta property="twitter:title" content="Rappicerrajería - Trabajamos 24/7">
<meta property="twitter:description" content=" Contamos con técnicos especializados motorizados disponibles las 24 horas del día, capacitados para atenderte de manera oportuna y eficaz en el menor tiempo posible.">
<meta property="twitter:image" content="metatags.png">
