---
export interface Props {
  route: string;
}

import partners from '../data/partners.json'

const { route } = Astro.props
const path = route === 'servicios' ? '/' : ''
---

<article>
  <h2>Trabajamos con los mejores</h2>
  <div class="content">
    {
      partners.map(({ image, alt}) => (
        <div class="item" >
          <img src={`${path}${image}`} alt={alt}>
        </div>
      ))
    }
  </div>
</article>

<style>

  article {
    max-width: 120rem;
    margin: 0 auto;
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--espacio) 0;
    padding-top: 0;
  }

  .item {
    width: 20rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media (min-width: 768px) {
    article {
      order: 2;
    }
  }
</style>
