<section>
  <img src="/payments/visa.webp" alt="pueder ser una imagen del logo de visa">
  <img src="/payments/master-card.webp" alt="pueder ser una imagen del logo de master-card">
  <img src="/payments/american-express.webp" alt="pueder ser una imagen del logo de american-express">
  <img src="/payments/diners-club.webp" alt="pueder ser una imagen del logo de diners-club">
  <img src="/payments/nequi.webp" alt="pueder ser una imagen del logo de nequi">
  <img src="/payments/daviplata.webp" alt="pueder ser una imagen del logo de daviplata">
</section>

<style>
section {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: var(--naranja-claro);
}

img {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
}

@media (min-width: 768px) {
  section {
    padding: 3rem;
    width: 100%;
    column-gap: 6rem;
  }

  img {
    width: 10rem;
    height: 10rem;
  }
}

</style>
