<section>
  <img src="/payments/visa.png" alt="pueder ser una imagen del logo de visa">
  <img src="/payments/master-card.png" alt="pueder ser una imagen del logo de master-card">
  <img src="/payments/american-express.png" alt="pueder ser una imagen del logo de american-express">
  <img src="/payments/diners-club.png" alt="pueder ser una imagen del logo de diners-club">
</section>

<style>
section {
  display: flex;
  max-width: 120rem;
  padding: 2rem;
  gap: 1rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: var(--naranja-claro);
}

img {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
}
</style>
