<section>
  <article>
    <h2>Zonas de Atencion</h2>
    <ul>
      <li>Álamos</li>
      <li>Cedritos</li>
      <li>Chapinero</li>
      <li>Chía</li>
      <li>Chicó</li>
      <li>Chico Navarra</li>
      <li>Colina</li>
      <li>Cota</li>
      <li>Funza</li>
      <li>Galerías</li>
      <li>La Calera</li>
      <li>Madrid</li>
      <li>Mazuren</li>
      <li>Mirandela</li>
      <li>Modelia</li>
      <li>Mosquera</li>
      <li>Normandía</li>
      <li>Pasadena</li>
      <li>Pepe Sierra</li>
      <li>Portal 80</li>
      <li>Prado Veraniego</li>
      <li>Quintaperedes</li>
      <li>Rosales</li>
      <li>Salitre</li>
      <li>Suba</li>
      <li>Tocancipa</li>
      <li>Unicentro</li>
      <li>Z. Industrial</li>
    </ul>
  </article>
</section>

<style>
  section {
    background: var(--morado-oscuro); 
    padding: var(--espacio) 2rem;
  }

  h2 {
    color: var(--blanco);
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: var(--font-normal);
  }

  :global(::marker) {
    color: var(--amarillo);
  }

  ul {
    column-count: 2;
  }

  li {
    color: var(--font-off);
    padding: 0.5rem 0;
  }

  @media (min-width: 768px) {
    ul {
      column-count: 4;
    }
  }

</style>
